{% extends 'home.html.twig' %}

{% block title %}Edit Filier{% endblock %}

{% block body %}
    <h1>Edit Filier</h1>

    {{ include('filier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_filier_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('filier/_delete_form.html.twig') }}
{% endblock %}
