{% extends 'home.html.twig' %}

{% block title %}New Filier{% endblock %}

{% block body %}
    <h1>Create a new Filier</h1>

    {{ include('filier/_form.html.twig') }}

    <a href="{{ path('app_filier_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
