{% extends 'home.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    <h1>Create a new Module</h1>

    {{ include('module/_form.html.twig') }}

    <a href="{{ path('app_module_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
